/* In order to get this to work on gh-pages just manually 
   regenerating css from scss thusly
   utunga at Miles-Macbook in ~/dev/trustwalla/web on master*
   $ sass assets/stylesheets/main.scss  > assets/stylesheets/main.css 
*/

/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
